<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingTourProject"
        tools:targetApi="31">
        <activity
            android:name="com.example.bookingtourproject.CartActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookingtourproject.TourDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookingtourproject.HistoryActivity"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            tools:targetApi="31" />
        <activity
            android:name="com.example.bookingtourproject.ListDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookingtourproject.UserSettingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookingtourproject.ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookingtourproject.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookingtourproject.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookingtourproject.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bookingtourproject.activity_register"
            android:exported="false" />
        <activity
            android:name="com.example.bookingtourproject.MainActivity"
            android:exported="true" />
    </application>

</manifest>